@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

/*reset*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, acronym, address, code, del, 
dfn, em, img, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, 
td, hr{margin:0;padding:0;font-size:100%;box-sizing: border-box;}
body{font-family: 'Noto Sans KR',sans-serif; font-size:16px;color:#222222;line-height:1.5;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;}
ol, ul, li {list-style:none;}
table {width:100%; border-collapse:collapse;border-spacing:0;}
form, fieldset, iframe {display:block;border:0;}
img, button {border:0 none;vertical-align:top;}
hr {height:0; display:none;}
i, em, address{font-style:normal;}
label, button{cursor:pointer;}
blockquote, q {quotes:none;}
caption, legend {overflow:hidden;visibility:hidden;position:absolute;width:0;height:0;padding:0;margin:0;font-size:0;text-indent:-100%;white-space:nowrap;z-index:-1;}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {display:block;box-sizing: border-box;}
input, textarea, select, button {font-family: 'Noto Sans KR',sans-serif;font-size:16px;color:#919090;line-height:1.5;letter-spacing:0;vertical-align:middle; border:none;}
input, textarea {margin:0;padding:0;  background:none; box-sizing:border-box;}
textarea {resize:none;}
a {color:#000;text-decoration:none;}
a:link, a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
html,body{
	width: 100%;
	overflow-x: hidden;
}
footer{
	background-color: #111111;
}
/*모바일*/
@media (max-width: 767px){
	/*헤더*/
	header{
		width: 100%;
		overflow-x: hidden;
		position: relative;
		border-bottom: 1px solid #004A86;
	}
	header:after{
		content: "";
		display: block;
		clear: both;
	}
	header>a>img{
		position: relative;
		width: 35%	;
		left:20px;
		top:25px;
		margin-bottom: 40px;
		display: block;
	}
	.mo_nav_title{
		position: relative;
		float: left;
		width: 50%;
		height: 40px;
		display: inline-block;
		box-sizing: border-box;
		padding: 2% 0;
		font-size: 18px;
		text-align: center;
		border:1px solid #ddd;
		background-color: rgb(245,245,245);
		color:#888;
		font-weight: normal;
	}
	.mo_nav_title::after{
		display: block;
		content: "";
		clear: both;
	}
	header #gnb{
		display: none;
		position: absolute;
		width: 100%;
		top:100%;
		box-sizing: border-box;
	}
	#gnb>li{
		position: relative;
		width: 50%;
		z-index: 10;
		border:1px solid #ddd;
		background-color: #fff;
	}
	#gnb>li>a{
		display: inline-block;
		width: 100%;
		line-height: 50px;
		text-align: center;
		color: #000;

	}
	.gnb_cover{
		display: none;
	}
	#gnb li>ul{
		display: none;
	}
	.mo_nav_h3{
		display: none;
		position: absolute;
		width: 50%;
		left:50%;
		top:100%;
		z-index: 10;
		background-color: #fff;
	}
	.mo_nav_h3 li{
		width: 100%;
		border:1px solid #ddd;
		padding: 5% 15%;
	}
	.mo_nav_h3 li a{
		position: relative;
		display: inline-block;
		font-size: 15px;
		color: #555;
		width: 100%;
		text-align: center;
	} 
	header #small_nav{
		display: none;
	}
	.header_line{
		display: none;
	}
	header .menu_button{
		display: inline-block;
		position: absolute;
		right:10px;
		top:22px;		
	}
	header .menu_button img{
		width: 70%;
	}
	
	nav.main_nav_wrap{
		position: absolute;
		width: 90%;
		height: 100%;
		right: -100%;
		top:0;
		background-color: #fff;
		padding:20px;
		z-index: 50;
	}
	nav.main_nav_wrap h3{
		text-align: right;
		color: #222;
	}
	nav.main_nav_wrap h3 img{
		width: 8%;
	}
	nav.main_nav_wrap h3:last-child{
		position: absolute;
		right: 40px;
		bottom: 40px;
		font-size: 13px;
	}
	#main_nav>li{
		width: 100%;
		padding: 10px 0;
		font-size: 15px;
		opacity: 0.7;
	}
	#main_nav>li a{
		color: #000;
	}
	#main_nav>li:hover{
		opacity: 1;
	}
	#main_nav>li>a{
		border-bottom: none;
		display: block;
		width: 100%;
		padding:5px 0;
		background: url('../img/list_off.png')no-repeat right center;
	}
	#main_nav>li.active{
		opacity: 1;
		font-size: 18px;
	}
	#main_nav>li.active>a{
		background: url('../img/list_on.png')no-repeat right center;
		border-bottom: 2px solid transparent;
		border-image: -webkit-linear-gradient(left, rgba(16,85,183,1) 0%,rgba(41,137,216,1) 49%,rgba(0,180,129,1) 100%);
		border-image-slice: 1;	
	}
	#main_nav ul{
		display: none;
	}
	#main_nav ul li{
		font-size: 15px;
		padding: 5px 0;
		
	}
	#main_nav ul li a{
		color: #aaa;
	}
	.blind_wrap{
		position: absolute;
		width: 100%;
		height: 100%;
		right: -100%;
		background-color: #222;
		opacity: 0;
		z-index: 8;
	}
	
	/*sub_title_nav_wrap*/
	.sub_title_nav_wrap{
		position: relative;
		background: url('../sub_img/product_bg.jpg')no-repeat center;
		background-size: cover;
		width: 100%;
	}
	.sub_title{
		width: 100%;
		margin:0 auto;
		text-align: center;
	}
	.sub_title p:nth-of-type(1){
		padding-top: 30px;
		font-size: 13px;
		color: #fff;
		letter-spacing: 3px;
		opacity: 0.8;
	}
	.sub_title h1{
		padding:15px 0;
		font-size: 40px;
		color: #fff;
	}
	.sub_title p:nth-of-type(2){
		font-size: 12px;
		color: #fff;
		opacity: 0.8;
		padding-bottom: 30px;
		margin-bottom: 60px;
	}
	.sub_nav_wrap{
		width: 90%;
		margin:0 auto;
	}
	.sub_nav_con{
		width: 72%;
		margin: 0 auto 20px;
	}
	.sub_nav_con>li{
		float: left;
	}
	.home_icon{
		display: none;
	}
	.sub_nav{
		position: relative;
		display: table;
		width: 100%;
		height: 70px;
		box-sizing: border-box;
	}
	.sub_nav>a{
		background:url('../sub_img/list_off.png')no-repeat 95% center;
		background-size: 8%;
		border-bottom: 2px solid #000;
	}
	.sub_nav a{
		display: table-cell;
		vertical-align: middle;
		width: 100%;
		height: 70px;
		padding: 0 10px;
		color: #000;
		font-weight: bold;
	}
	.sub_nav a:hover{
		color: #000;
	}
	.sub_nav ul{
		display: none;
		position: absolute;
		width: 100%;
		top:70px;
		left:0;
		z-index: 10;
	}
	.sub_nav li{
		width: 100%;
		display: table;
		box-sizing: border-box;
		color: #000;
		background-color: #fff;
	}

	#wrap{
		display: flex;
		flex-flow: column nowrap;
		margin:0 auto;
	}

	/*sub_contents_wrap*/
	.sub_contents_wrap{
		width: 90%;
		margin:0 auto;
	}
	.product_title{
		display: none;
	}
	.table_wrap{
		display: none;
	}
	
	.search_wrap{
		width:90%;
		margin:20px auto; 
		padding:110px 0 50px;
		text-align: center;
		background-color: #f8f8f8;
	}
	.search_wrap label{	
		display: none;
		
	}
	.search_wrap input{
		width: 80%;
		margin: 0 auto;
		outline: none;
		border-bottom: 2px solid #000;
		padding: 0 10px 10px;
	}
	.search_wrap button{
		position: absolute;
		width: 30px;
		margin: -10px -40px 0;
		padding:15px 0;
		background: url('../sub_img/search.png')no-repeat 95% center;
		background-size: 55%;
		font-size: 0;
	}
	.product_list_wrap{
		width: 90%;
		margin:30px auto 60px;
	}
	.list_title_box{
		width: 100%;
	}
	.list_title_box h3{
		width: 100%;
		font-size: 30px;
		padding-bottom: 15px;

	}
	.list_title_box p{
		width: 100%;
		color:#ccc;
		font-size: 15px;
	}
	.list_title_box strong{
		color: #004A86;
	}
	.product_list_box{
		display: none;
		width: 100%;
		margin: 30px 0;
	}
	.product_list_box.active{
		display: block;
	}
	.product_list_box:after{
		content: "";
		display: block;
		clear: both;
	}
	.product_list_box ul{
		width: 100%;
		position: relative;
	}
	.product_list_box li{
		width: 48%;
		float: left;
		margin: 2% 2% 0 0;
	}
	.product_img{
		width: 100%;
		text-align: center;
		border:1px solid #ddd;
	}
	.product_img img{
		max-width: 85%;
		margin:0 auto;
	}
	.product_txt{
		padding:10px 0;
		width: 100%;
		height: 50px;
		text-align: center;
		font-size: 13px;
		word-break: keep-all;
	}

	.product_list_box_total{
		width: 100%;
		margin: 30px 0;
	}
	.product_list_box_total:after{
		content: "";
		display: block;
		clear: both;
	}
	.product_list_box_total ul{
		width: 100%;
		position: relative;
	}
	.product_list_box_total li{
		display: none;
	}
	.product_list_box_total li.active{
		display: block;
		width: 48%;
		float: left;
		margin: 2% 2% 0 0;
	}
	.product_list_num_box{
		position: relative;
		width: 100%;
	}
	.product_list_num_box:after{
		content: '';
		display: block;
		clear: both;
	}
	.product_list_num_box ul{
		width: 50%;
		margin:0 auto;
	}
	.product_list_num_box li{
		float: left;
		width: 16.5%;
		text-align: center;
	}
	.product_list_num_box li.active a{
		background-color: #004A86;
		color: #fff;
	}
	
	.product_list_num_box li a{
		display: inline-block;
		width: 25px;
		height: 25px;
		line-height: 25px;
	}
	.page_btn_wrap{
		position: relative;
		width: 65%;
		margin:0 auto;
	}
	.prev_page_btn{
		position: absolute;
		left: 0;
		padding-top: 5px;

	}
	.next_page_btn{
		position: absolute;
		right: 0;
		padding-top: 5px;
	}

	/*footer*/
	.footer_wrap{
		position: relative;
		width: 100%;
	}
	.footer_logo{
		width: 100%;
		position: absolute;
		top:85px;
		left:5%;
		width: 20%;
	}
	.footer_logo img{
		width: 200%;
	}
	.footer_address_wrap{
		display: inline-block;
		position: relative;
		width: 100%;
	}
	.footer_nav{
		width: 100%;
		margin-bottom: 40px;
	}
	.footer_nav::after{
		display: block;
		content: '';
		clear: both;
	}
	.footer_nav li{
		line-height: 60px;
		float: left;
		width: 50%;
		text-align: center;
		background-color: #333;
		height: 60px;
	}
	.footer_nav li:nth-child(1){
		display: none;
	}
	.footer_nav li:nth-child(2){
		border-right: 1px solid #999;
	}
	.footer_nav li a{
		color: #999;
		font-size: 15px;
	}
	.footer_address{
		position: relative;
		width: 90%;
		margin:70px auto 0;

	}
	.footer_address li{
		color: #aaa;
		padding:2.5px 20px 2.5px 0 ;
		font-size: 13px;
	}
	.hide{
		display: none;
		overflow: hidden;
		position: absolute;
		width: 0; height: 0;
		padding: 0; margin: 0; 
		font-size: 0; line-height: 0; text-indent: -9999px;
		visibility: hidden;
		outline: none;
		z-index: -1;
	}
	.footer_address li:first-child{
		width: 100%;
	}
	.footer_address li:nth-child(6){
		width: 100%;
	}
	.family_site_wrap{
		position: absolute;
		width:90%;
		bottom:30px;
		right: 5%;
	}
	.family_site_wrap h4{
		padding: 10px;
		font-size: 18px;
		font-weight: bold;
		border-bottom: 2px solid #aaa;
		background:url('../img/list_off.png')no-repeat right 62%;
	}
	.family_site_wrap h4 a{
		color: #fff;
	}
	.family_site_wrap>ul{
		display: none;
		border:1px solid #fff;
		background-color: #222;
		position: absolute;
		width: 100%;
		right: 0;
		bottom: 80px;
		padding-left: 10px;
	}
	.family_site_wrap>ul>li{
		color: #fff;
		font-weight: bold;
		font-size: 15px;
		padding-bottom: 6px;
	}
	.family_site_wrap>ul ul li{
		padding-left: 30px;
	}
	.family_site_wrap>ul ul li:hover{
		background: #111;
		cursor: pointer;
	}
	.family_site_wrap>ul ul li a{
		color: #aaa;
		font-weight: normal;
	}
	.family_site_wrap>ul ul li:hover a{
		color: #fff;
	}
	.copyright{
		width: 90%;
		margin:60px auto 10px;
		color: #555;
		font-size: 10px;
	}
}
/*모바일 끝*/

/*태블릿*/
@media (min-width: 768px) and (max-width: 1024px){
	/*헤더*/
	header{
		width: 100%;
		position: relative;
		border-bottom: 1px solid #004A86;
	}
	header:after{
		content: "";
		display: block;
		clear: both;
	}
	header>a>img{
		position: relative;
		width: 200px;
		left:20px;
		top:25px;
		margin-bottom: 40px;
		display: block;
	}
	.mo_nav_title{
		position: relative;
		float: left;
		width: 50%;
		display: inline-block;
		box-sizing: border-box;
		padding: 20px 40px;
		font-size: 25px;
		border:1px solid #ddd;
		background-color: rgb(245,245,245);
		color:#888;
		font-weight: normal;
	}
	.mo_nav_title::after{
		display: block;
		content: "";
		clear: both;
	}
	header #gnb{
		display: none;
		position: absolute;
		width: 100%;
		top:170px;
		box-sizing: border-box;
	}
	#gnb>li{
		position: relative;
		width: 50%;
		z-index: 10;
		border:1px solid #ddd;
		background-color: #fff;
	}
	#gnb>li>a{
		display: inline-block;
		width: 100%;
		line-height: 50px;
		padding-left:40px;
		color: #000;

	}
	.gnb_cover{
		display: none;
	}
	#gnb li>ul{
		display: none;
		position: absolute;
		width: 102%;
		left:100%;
		top:-1px;
		z-index: 10;
		border:1px solid #ddd;
		background-color: #fff;
	}
	#gnb li ul li{
		width: 100%;
		padding:10px 40px;
	}
	#gnb li ul li a{
		position: relative;
		font-size: 18px;
		color: #555;
	} 
	#gnb li ul li a:hover{
		border-bottom: 2px solid #005295;
		color: #004A86;
	}
	.mo_nav_h3{
		display: none;
		position: absolute;
		width: 50%;
		left:50%;
		top:100%;
		z-index: 10;
		background-color: #fff;
	}
	.mo_nav_h3 li{
		width: 100%;
		border:1px solid #ddd;
		padding: 5% 15%;
	}
	.mo_nav_h3 li a{
		position: relative;
		display: inline-block;
		font-size: 20px;
		color: #555;
		width: 100%;
		text-align: justify;
	} 
	header #small_nav{
		display: none;
	}
	.header_line{
		display: none;
	}
	header .menu_button{
		display: inline-block;
		position: absolute;
		right:20px;
		top:25px;		
	}
	header .menu_button img{
		width: 45px;
	}
	
	nav.main_nav_wrap{
		position: absolute;
		width: 90%;
		height: 100%;
		right: -100%;
		top:0;
		background-color: #fff;
		padding:50px;
		z-index: 50;
	}
	nav.main_nav_wrap h3{
		text-align: right;
		color: #222;
	}
	nav.main_nav_wrap h3 img{
		width: 30px;
	}
	nav.main_nav_wrap h3:last-child{
		position: absolute;
		right: 40px;
		bottom: 40px;
		font-size: 20px;
	}
	#main_nav>li{
		width: 100%;
		padding: 10px 0;
		font-size: 30px;
		opacity: 0.7;
	}
	#main_nav>li a{
		color: #000;
	}
	#main_nav>li:hover{
		opacity: 1;
	}
	#main_nav>li>a{
		border-bottom: none;
		display: block;
		width: 100%;
		padding:5px 0;
		background: url('../img/list_off.png')no-repeat right center;
	}
	#main_nav>li.active{
		opacity: 1;
		font-size: 32px;
	}
	#main_nav>li.active>a{
		background: url('../img/list_on.png')no-repeat right center;
		border-bottom: 2px solid transparent;
		border-image: -webkit-linear-gradient(left, rgba(16,85,183,1) 0%,rgba(41,137,216,1) 49%,rgba(0,180,129,1) 100%);
		border-image-slice: 1;	
	}
	#main_nav ul{
		display: none;
	}
	#main_nav ul li{
		font-size: 28px;
		padding: 10px 0;
		
	}
	#main_nav ul li a{
		color: #aaa;
	}
	.blind_wrap{
		position: absolute;
		width: 100%;
		height: 100%;
		right: -100%;
		background-color: #222;
		opacity: 0;
		z-index: 8;
	}
	
	/*sub_title_nav_wrap*/
	.sub_title_nav_wrap{
		position: relative;
		background: url('../sub_img/product_bg.jpg')no-repeat center;
		background-size: cover;
		width: 100%;
		height: 300px;
	}
	.sub_title{
		width: 100%;
		margin:0 auto;
		text-align: center;
	}
	.sub_title p:nth-of-type(1){
		padding-top: 60px;
		font-size: 20px;
		color: #fff;
		letter-spacing: 3px;
		opacity: 0.8;
	}
	.sub_title h1{
		padding:15px 0;
		font-size: 70px;
		color: #fff;
	}
	.sub_title p:nth-of-type(2){
		font-size: 20px;
		color: #fff;
		opacity: 0.8;
		margin-bottom: 60px;
	}
	.sub_nav_wrap{
		width: 90%;
		margin:0 auto;
	}
	.sub_nav_con{
		width: 72%;
		margin: 60px auto 20px;
	}
	.sub_nav_con>li{
		float: left;
	}
	.home_icon{
		display: none;
	}
	.sub_nav{
		position: relative;
		margin-top: 20px;
		display: table;
		width: 100%;
		height: 70px;
		box-sizing: border-box;
		
	}
	.sub_nav>a{
		background:url('../sub_img/list_off.png')no-repeat 95% center;
		border-bottom: 2px solid #000;
	}
	.sub_nav a{
		display: table-cell;
		vertical-align: middle;
		width: 100%;
		height: 70px;
		padding: 0 10px;
		color: #000;
		font-weight: bold;
	}
	.sub_nav a:hover{
		color: #000;
	}
	.sub_nav ul{
		display: none;
		position: absolute;
		width: 100%;
		top:70px;
		left:0;
		z-index: 10;
	}
	.sub_nav li{
		width: 100%;
		display: table;
		box-sizing: border-box;
		color: #000;
		background-color: #fff;
	}

	#wrap{
		display: flex;
		flex-flow: column nowrap;
		margin:0 auto;
	}

	/*sub_contents_wrap*/
	.sub_contents_wrap{
		width: 90%;
		margin:0 auto;
	}
	.product_title{
		display: none;
	}
	.table_wrap{
		display: none;
	}
	
	.search_wrap{
		width:90%;
		margin:20px auto; 
		padding:110px 0 50px;
		text-align: center;
		background-color: #f8f8f8;
	}
	.search_wrap label{	
		display: none;
		
	}
	.search_wrap input{
		width: 80%;
		margin: 0 auto;
		outline: none;
		border-bottom: 2px solid #000;
		padding: 0 10px 10px;
	}
	.search_wrap button{
		position: absolute;
		width: 30px;
		margin: -10px -50px 0;
		padding:15px 0;
		background: url('../sub_img/search.png')no-repeat;
		font-size: 0;
	}
	.product_list_wrap{
		width: 90%;
		margin:30px auto 60px;
	}
	.list_title_box{
		width: 100%;
	}
	.list_title_box h3{
		width: 100%;
		font-size: 40px;
		padding-bottom: 20px;

	}
	.list_title_box p{
		width: 100%;
		color:#ccc;
		letter-spacing: 1.5px;
		font-size: 22px;
	}
	.list_title_box strong{
		color: #004A86;
	}
	.product_list_box{
		display: none;
		width: 100%;
		margin: 30px 0;
	}
	.product_list_box.active{
		display: block;
	}
	.product_list_box:after{
		content: "";
		display: block;
		clear: both;
	}
	.product_list_box ul{
		width: 100%;
		position: relative;
	}
	.product_list_box li{
		width: 48%;
		float: left;
		margin: 10px 10px 0 0;
	}
	.product_img{
		width: 100%;
		text-align: center;
		border:1px solid #ddd;
	}
	.product_img img{
		max-width: 85%;
		margin:0 auto;
	}
	.product_txt{
		padding:30px 0;
		text-align: center;
		font-size: 18px;
	}
	.product_list_box_total{
		width: 100%;
		margin: 30px 0;
	}
	.product_list_box_total:after{
		content: "";
		display: block;
		clear: both;
	}
	.product_list_box_total ul{
		width: 100%;
		position: relative;
	}
	.product_list_box_total li{
		display: none;
	}
	.product_list_box_total li.active{
		display: block;
		width: 48%;
		float: left;
		margin: 10px 10px 0 0;
	}
	.product_list_num_box{
		position: relative;
		width: 100%;
	}
	.product_list_num_box:after{
		content: '';
		display: block;
		clear: both;
	}
	.product_list_num_box ul{
		width: 25%;
		margin:0 auto;
	}
	.product_list_num_box li{
		float: left;
		width: 16.5%;
		text-align: center;
	}
	.product_list_num_box li.active a{
		background-color: #004A86;
		color: #fff;
	}
	
	.product_list_num_box li a{
		display: inline-block;
		width: 30px;
		height: 30px;
		line-height: 30px;
	}
	.page_btn_wrap{
		position: relative;
		width: 30%;
		margin:0 auto;
	}
	.prev_page_btn{
		position: absolute;
		left: 0;
		padding-top: 5px;

	}
	.next_page_btn{
		position: absolute;
		right: 0;
		padding-top: 5px;
	}

	/*footer*/
	.footer_wrap{
		position: relative;
		width: 100%;
	}
	.footer_logo{
		width: 100%;
		position: absolute;
		top:85px;
		left:5%;
		width: 20%;

	}
	.footer_address_wrap{
		display: inline-block;
		position: relative;
		width: 100%;
	}
	.footer_nav{
		width: 100%;
		margin-bottom: 40px;
	}
	.footer_nav::after{
		display: block;
		content: '';
		clear: both;
	}
	.footer_nav li{
		line-height: 70px;
		float: left;
		width: 50%;
		text-align: center;
		background-color: #333;
		height: 70px;
	}
	.footer_nav li:nth-child(1){
		display: none;
	}
	.footer_nav li:nth-child(2){
		border-right: 1px solid #999;
	}
	.footer_nav li a{
		color: #999;
		font-size: 22px;
	}
	.footer_address{
		position: relative;
		width: 90%;
		margin:70px auto 0;

	}
	.footer_address li{
		color: #aaa;
		padding:2.5px 50px 2.5px 0 ;
		font-size: 22px;
	}
	.hide{display: none;overflow: hidden;position: absolute;width: 0;height: 0;padding: 0;margin: 0; font-size: 0;line-height: 0; text-indent: -9999px;visibility: hidden;outline: none;z-index: -1;}
	.footer_address li:first-child{
		width: 100%;
	}
	.footer_address li:nth-child(6){
		width: 100%;
	}
	.family_site_wrap{
		position: absolute;
		width:90%;
		bottom:30px;
		right: 5%;
	}
	.family_site_wrap h4{
		padding: 10px;
		font-size: 22px;
		font-weight: bold;
		border-bottom: 2px solid #aaa;
		background:url('../img/list_off.png')no-repeat right 62%;
	}
	.family_site_wrap h4 a{
		color: #fff;
	}
	.family_site_wrap>ul{
		display: none;
		border:1px solid #fff;
		background-color: #222;
		position: absolute;
		width: 100%;
		right: 0;
		bottom: 80px;
		padding-left: 10px;
	}
	.family_site_wrap>ul>li{
		color: #fff;
		font-weight: bold;
		font-size: 20px;
		padding-bottom: 6px;
	}
	.family_site_wrap>ul ul li{
		padding-left: 30px;
	}
	.family_site_wrap>ul ul li:hover{
		background: #111;
		cursor: pointer;
	}
	.family_site_wrap>ul ul li a{
		color: #aaa;
		font-weight: normal;
	}
	.family_site_wrap>ul ul li:hover a{
		color: #fff;
	}
	.copyright{
		width: 90%;
		margin:60px auto 10px;
		color: #555;
		font-size: 13px;
	}
	
}/*태블릿 끝*/

/*pc*/
@media (min-width: 1025px){
	/*헤더*/
	header{
		width: 100%;
		position: relative;
		border-bottom: 1px solid #004A86;
	}
	header:after{
		content: "";
		display: block;
		clear: both;
	}
	header>a>img{
		position: relative;
		width: 180px;
		left:20px;
		top:35px;
	}
	.mo_nav_title{
		display: none;
	}
	header #gnb{
		position: relative;
		width: 65%;
		margin: 0 auto;
	}
	#gnb>li{
		float: left;
		width: 20%;
		text-align: center;
		font-size: 22px;
		padding-bottom: 41px;
	}
	#gnb>li>a{
		display: inline-block;
		width: 100%;
	}
	.gnb_cover{
		position: absolute;
		background: url('../sub_img/gnb_bg.png')no-repeat right bottom;
		background-color: #fff;
		top:75px;
		width: 160%;
		left:-30%;
		z-index: 5;
		opacity: 1;
	}
	#gnb li ul{
		display: none;
		position: absolute;
		width: 20%;
		margin-top: 50px;
		z-index: 10;
	}
	#gnb li ul li{
		width: 100%;
		padding:10px 0;
	}
	#gnb li ul li a{
		position: relative;
		font-size: 18px;
		color: #555;
	} 
	#gnb li ul li a:hover{
		border-bottom: 2px solid #005295;
		color: #004A86;
	}
	.mo_nav_h3{
		display: none;
	}
	header #small_nav{
		position: absolute;
		width: 15%;
		min-width: 290px;
		top:30px;
		right: 10px;
		display: inline-block;
	}
	#small_nav>li{
		float: right;
		width: 32%;
		text-align:center;
		font-size: 18px;
		padding:5px 0;
	}
	#small_nav>li:nth-child(3){
		width: 40%;
	}
	#small_nav>li:nth-child(4){
		width: 25%;
	}
	#small_nav>li:nth-child(2):after{
		content: "|";
		color: #000;
		padding-left: 35px;
	}
	#small_nav>li:nth-child(3)>a{
		color: #005295;
	}
	#small_nav>li:nth-child(4)>a{
		background:url('../img/list_off.png')no-repeat right center;
		color: #005295;
	}
	#small_nav ul{
		display: none;
		width: 120px;
		margin:10px 0;
		border:1px solid #005295;
		background-color: #fff;
		position: relative;
		left:-30px;
		text-align: center;
		z-index: 10;
	}
	#small_nav ul li{
		padding:5px;
	}
	#small_nav ul li:hover{
		background: #005295;
	}
	#small_nav ul li a{
		color: #005295;
		display: block;
		width: 100%;
		padding:0 20px;
	}
	#small_nav ul li:hover a{
		color: #fff;
	}
	.header_line{
		position: absolute;
		display: block;
		width: 100%;
		height: 1px;
		top:120px;
		border-top:1px solid #004A86;
	}
	header .menu_button{
		display: none;		
	}
	nav.main_nav_wrap{
		display: none;
	}
	
	.blind_wrap{
		display: none;
	}
	
	/*sub_title_nav_wrap*/
	.sub_title_nav_wrap{
		position: relative;
		background: url('../sub_img/product_bg.jpg')no-repeat center;
		background-size: cover;
		width: 100%;
		height: 460px;
	}
	.sub_title{
		width: 1200px;
		margin:0 auto;
		text-align: center;
	}
	.sub_title p:nth-of-type(1){
		padding-top: 90px;
		font-size: 20px;
		color: #fff;
		font-weight: bold;
	}
	.sub_title h1{
		padding:15px 0;
		font-size: 80px;
		color: #fff;
		font-weight: bold;
	}
	.sub_title p:nth-of-type(2){
		font-size: 25px;
		color: #fff;
		margin-bottom: 82px;
	}
	.sub_nav_wrap{
		width: 100%;
		height: 70px;
		background-color: rgba(20,80,130,0.6);
	}
	.sub_nav_con{
		width: 1200px;
		margin:0 auto;
	}
	.sub_nav_con>li{
		float: left;
	}
	.home_icon{
		width: 70px;
		height: 71px;
		background:url('../sub_img/icon_home.png')no-repeat center center;
		background-color: #fff;
	}
	.home_icon>a{
		display: block;
		width: 100%;
		height: 100%;
	}
	.sub_nav{
		position: relative;
		display: table;
		width: 200px;
		height: 70px;
		box-sizing: border-box;
		
	}
	.sub_nav>a{
		background:url('../img/list_off.png')no-repeat 90% center;
	}
	.sub_nav a{
		display: table-cell;
		vertical-align: middle;
		width: 200px;
		height: 70px;
		padding: 0 20px;
		color: #ddd;
		font-weight: bold;
	}
	.sub_nav a:hover{
		color: #fff;
		background-color: #004A86;
	}
	.sub_nav ul{
		display: none;
		position: absolute;
		top:70px;
		left:0;
	}
	.sub_nav li{
		width: 200px;
		display: table;
		box-sizing: border-box;
		background-color: #005295;
	}

	#wrap{
		display: flex;
		flex-flow: column nowrap;
		margin:0 auto;
	}

	/*sub_contents_wrap*/
	.sub_contents_wrap{
		max-width: 1200px;
		margin:0 auto;
	}
	.product_title{
		margin: 80px 0 30px;
	}
	.product_title h2{
		font-size: 50px;
		font-weight: bold;
	}
	.table_wrap table{
		border-top: 1px solid #000;
		border-bottom: 1px solid #ccc;
	}
	.table_wrap th{
		text-align: center;
		width: 20%;
		padding:20px 0;
		background-color: #f8f8f8;
		font-size: 18px;
	}
	.table_wrap td{
		width: 80%;
		padding:10px 0;
	}
	.table_wrap td a{
		display: inline-block;
		width: 13%;
		padding: 0 5px;
		text-align: center;
		color: #666;
	}
	.table_wrap td a:hover{
		color: #004A86;
		font-weight: bold;
	}
	.table_wrap td a.active{
		color: #004A86;
		font-weight: bold;
	}
	.table_wrap span:after{
		display: inline;
		content: "|";
		clear:both;
		color: #ddd;
	}
	.table_wrap td span:last-child:after{
		display: inline;
		content: "";
		clear:both;
	}
	.table_wrap tr:last-child span:last-child a{
		color: #004A86;
	}
	.search_wrap{
		max-width:1200px;
		margin:20px auto; 
		padding:60px 0 50px;
		text-align: center;
		background-color: #f8f8f8;
	}
	.search_wrap label{	
		font-size: 20px;
		font-weight: bold;
		width: 120px;
		position: relative;
		
	}
	.search_wrap input{
		width: 60%;
		outline: none;
		border-bottom: 2px solid #000;
		padding: 0 10px 10px;
	}
	.search_wrap button{
		width: 100px;
		margin: -25px 10px 0;
		padding:15px 0;
		background-color: #333;
		color: #fff;
		font-size: 15px;
	}
	.product_list_wrap{
		max-width: 1200px;
		margin:80px auto;
	}
	.list_title_box{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.list_title_box h3{
		display: inline-block;
		color: #004A86;
		font-size: 25px;
		font-weight: bold;
	}
	.list_title_box p{
		display: inline-block;
		color:#ccc;
		letter-spacing: 1.5px;
	}
	.list_title_box strong{
		color: #004A86;
	}
	.product_list_box{
		display: none;
		width: 100%;
		margin: 30px 0;
	}
	.product_list_box.active{
		display: block;
	}
	.product_list_box:after{
		content: "";
		display: block;
		clear: both;
	}
	.product_list_box ul{
		width: 100%;
		position: relative;
	}
	.product_list_box li{
		width: 24%;
		float: left;
		margin: 10px 10px 0 0;
	}
	.product_img{
		width: 100%;
		text-align: center;
		border:1px solid #ddd;
	}
	.product_img img{
		max-width: 85%;
		margin:0 auto;
	}
	.product_txt{
		padding:30px 0;
		text-align: center;
		font-size: 18px;
	}
	.product_list_box_total{
		width: 100%;
		margin: 30px 0;
	}
	.product_list_box_total:after{
		content: "";
		display: block;
		clear: both;
	}
	.product_list_box_total ul{
		width: 100%;
		position: relative;
	}
	.product_list_box_total li{
		display: none;
	}
	.product_list_box_total li.active{
		display: block;
		width: 24%;
		float: left;
		margin: 10px 10px 0 0;
	}
	.product_list_num_box{
		position: relative;
		width: 100%;
	}
	.product_list_num_box:after{
		content: '';
		display: block;
		clear: both;
	}
	.product_list_num_box ul{
		width: 25%;
		margin:0 auto;
	}
	.product_list_num_box li{
		float: left;
		width: 16.5%;
		text-align: center;
	}
	.product_list_num_box li.active a{
		background-color: #004A86;
		color: #fff;
	}
	
	.product_list_num_box li a{
		display: inline-block;
		width: 30px;
		height: 30px;
		line-height: 30px;
	}
	.page_btn_wrap{
		position: relative;
		width: 30%;
		margin:0 auto;
	}
	.prev_page_btn{
		position: absolute;
		left: 0;
		padding-top: 5px;

	}
	.next_page_btn{
		position: absolute;
		right: 0;
		padding-top: 5px;
	}

	/*footer*/
	.footer_wrap{
		position: relative;
		max-width: 1200px;
		margin: 0px auto;
		padding: 80px 0;
	}
	.footer_logo{
		float: left;
		width: 20%;
	}
	.footer_logo::after{
		display: block;
		content: '';
		clear: both;
	}
	.footer_address_wrap{
		display: inline-block;
		position: relative;
		width: 75%;
	}
	.footer_nav{
		width: 50%;
		margin-bottom: 40px;
	}
	.footer_nav::after{
		display: block;
		content: '';
		clear: both;
	}
	.footer_nav li{
		float: left;
		margin-right: 20px;
	}
	.footer_nav li a{
		color: #fff;
	}
	.footer_address{
		width: 100%;
	}
	.footer_address::after{
		display: block;
		content: '';
		clear: both;
	}
	.footer_address li{
		color: #aaa;
		float: left;
		padding:2.5px 50px 2.5px 0 ;
		font-size: 14px;
	}
	.footer_address li:first-child{
		width: 100%;
	}
	.footer_address li:nth-child(6){
		width: 100%;
	}
	.family_site_wrap{
		position: absolute;
		width:35%;
		top:0;
		right: 0;
	}
	.family_site_wrap h4{
		padding: 10px;
		font-size: 15px;
		font-weight: bold;
		border-bottom: 2px solid #aaa;
		background:url('../img/list_off.png')no-repeat right 62%;
	}
	.family_site_wrap h4 a{
		color: #fff;
	}
	.family_site_wrap>ul{
		display: none;
		border:1px solid #fff;
		background-color: #222;
		position: absolute;
		width: 100%;
		right: 0;
		bottom: 65px;
		padding-left: 10px;
	}
	.family_site_wrap>ul>li{
		color: #fff;
		font-weight: bold;
		padding-bottom: 6px;
	}
	.family_site_wrap>ul ul li{
		padding-left: 30px;
	}
	.family_site_wrap>ul ul li:hover{
		background: #111;
		cursor: pointer;
	}
	.family_site_wrap>ul ul li a{
		color: #aaa;
		font-weight: normal;
	}
	.family_site_wrap>ul ul li:hover a{
		color: #fff;
	}
	.copyright{
		width: 100%;
		margin:30px 0;
		color: #555;
		font-size: 13px;
	}
	
}/*pc끝*/

